<p id="notice"><%= notice %></p>

<h1>Задачи</h1>

<table>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <h2><%= project.title %></h2>
        <% @todos = project.todos %>
          <% for i in @todos %>
          <li><%= i[:text]%></li>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div id="add_todo">
<%= form_for :todo, url: todos_path do |form| %>
  <div style="display: flex; align-items: center;">
  <%= form.collection_select(:todo_id, @projects, :id, :title,{}, {:onChange=> "change();" }) %>
  <p id="selected_text" style="padding: 3px; margin: 0px;"></p>
  </div>
  <%= form.text_field :text, placeholder: "Название задачи"%>
  <%= form.submit %>
<%end %>
</div>
<button onclick="hide()">Отмена</button>
<button onclick="show()">OK</button>
<%= link_to '+', new_project_path %>